Import potrzebnych bibliotek

In [26]:
import pandas as pd
import numpy as np

Wczyatnie danych z pliku CSV

In [14]:
plik = 'data/diabetes_prediction_dataset.csv'
df = pd.read_csv(plik)

Sprawdzenie typów danych oraz przekształcenie zmiennych kategorycznych

In [15]:
df.dtypes

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

Wiek podany jest w pełnych latach więc zmieniamy typ danych na int

In [20]:
df['age'] = df['age'].astype(int)

Pozostałe dane które wymagają zmiany typu danych to zmienne kategoryczne - postanowiłem wykorzystać metodę one-hot encoding, w której mając kilka wartości kategorycznych stworzę tyle kolumn binarnych ile mam możliwości wartości - w tym przpadku stworzę 6 column z których tylko jedna przybierze wartość 1 a pozostałe 0 - w ten sposób przedstawię wartość kategoryczną binarnie

In [25]:
df['smoking_history'].drop_duplicates().reset_index(drop=True)

0          never
1        No Info
2        current
3         former
4           ever
5    not current
Name: smoking_history, dtype: object

Jak widać muszę stworzyć 6 kolumn

In [27]:
df['smoking_history_never'] = np.where(df['smoking_history'] == 'never',  1, 0)
df['smoking_history_no_info'] = np.where(df['smoking_history'] == 'No Info',  1, 0)
df['smoking_history_current'] = np.where(df['smoking_history'] == 'current',  1, 0)
df['smoking_history_former'] = np.where(df['smoking_history'] == 'former',  1, 0)
df['smoking_history_ever'] = np.where(df['smoking_history'] == 'ever',  1, 0)
df['smoking_history_not_current'] = np.where(df['smoking_history'] == 'not current',  1, 0)

In [28]:
df.dtypes

gender                          object
age                              int32
hypertension                     int64
heart_disease                    int64
smoking_history                 object
bmi                            float64
HbA1c_level                    float64
blood_glucose_level              int64
diabetes                         int64
smoking_history_never            int32
smoking_history_no_info          int32
smoking_history_current          int32
smoking_history_former           int32
smoking_history_ever             int32
smoking_history_not_current      int32
dtype: object

In [29]:
df.head(10)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_never,smoking_history_no_info,smoking_history_current,smoking_history_former,smoking_history_ever,smoking_history_not_current
0,Female,80,0,1,never,25.19,6.6,140,0,1,0,0,0,0,0
1,Female,54,0,0,No Info,27.32,6.6,80,0,0,1,0,0,0,0
2,Male,28,0,0,never,27.32,5.7,158,0,1,0,0,0,0,0
3,Female,36,0,0,current,23.45,5.0,155,0,0,0,1,0,0,0
4,Male,76,1,1,current,20.14,4.8,155,0,0,0,1,0,0,0
5,Female,20,0,0,never,27.32,6.6,85,0,1,0,0,0,0,0
6,Female,44,0,0,never,19.31,6.5,200,1,1,0,0,0,0,0
7,Female,79,0,0,No Info,23.86,5.7,85,0,0,1,0,0,0,0
8,Male,42,0,0,never,33.64,4.8,145,0,1,0,0,0,0,0
9,Female,32,0,0,never,27.32,5.0,100,0,1,0,0,0,0,0